.page-banner {
  background-color: #001f3c;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.page-banner h2 {
  font-size: 52px;
  color: #f5f5f5;
  font-family: "Vollkorn", serif !important;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .page-banner {
    height: 180px;
  }
  .page-banner h2 {
    font-size: 32px;
  }
}
