.registration-area {
  padding: 70px 0;
}

#message-div {
  margin: 5px 0;
  min-height: 15px;
}

.registration-area .section-heading {
  margin-bottom: 30px !important;
}

.registration-content {
  background-color: #001f3c;
  padding: 50px 30px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .registration-content {
    padding: 20px;
  }
}

.registration-content label {
  color: #f5f5f5;
}

.registration-content .another-button {
  font-weight: 700;
  color: #001f3c !important;
  padding: 10px 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.registration-content .another-button:hover {
  background-color: transparent;
  color: #f5f5f5 !important;
  border-color: #f5f5f5;
}

.registration-content h3 {
  font-size: 17px !important;
  color: #f5f5f5 !important;
  line-height: 0.5;
}

.registration-content .reg-link {
  font-size: 17px !important;
  color: #f5f5f5 !important;
  padding: 10px 20px !important;
  padding-left: 10px !important;
  display: inline-block !important;
}

.or-style {
  display: block;
  padding: 10px 40px;
  border-radius: 5px;
  text-align: center;
  background-color: bisque;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  color: #001f3c;
  font-weight: 700;
}
